###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary

proguard-rules.txt  text    eol=lf
gradlew             text    eol=lf
gradle-wrapper.properties   text    eol=lf